.my-page_main
  .my-page__contents
    .my-page__user
      %img.my-page__user__img{ src:"https://1.bp.blogspot.com/-7bdMfdETO2o/X1CLWOB81KI/AAAAAAABa7w/z5MpjoVAv9E_uw3y73m5DQifQkHVbnqwgCNcBGAsYHQ/s400/nigaoe_zeami.png", alt:"商品画像"}
      .my-page__user__name
        マスター
    .my-page__info
      .my-page__info__add
        本人情報
    %ul.my-page__add__list
      %li.my-page__row
        .my-page__item
          苗字
        .my-page__prefecture
          西村
      %li.my-page__row
        .my-page__item
          苗字カナ
        .my-page__city
          ニシムラ
      %li.my-page__row
        .my-page__item
          名前
        .my-page__block-number
          マスター
      %li.my-page__row
        .my-page__item
          名前カナ
        .my-page__bilding
          マスター
      %li.my-page__row
        .my-page__item
          誕生日
        .my-page__telephone
          1991/01/11
    .my-page__info
      .my-page__info__add
        連絡先・住所
    %ul.my-page__add__list
      %li.my-page__row
        .my-page__item
          郵便番号
        .my-page__prefecture
          〒542-0076
      %li.my-page__row
        .my-page__item
          都道府県
        .my-page__prefecture
          大阪府
      %li.my-page__row
        .my-page__item
          市区町村
        .my-page__city
          大阪市 中央区
      %li.my-page__row
        .my-page__item
          番地
        .my-page__block-number
          難波五丁目 1-60
      %li.my-page__row
        .my-page__item
          マンション名・ビル名
        .my-page__bilding
          難波スカイオ15階
      %li.my-page__row
        .my-page__item
          電話番号
        .my-page__telephone
          050-3187-3522
    .my-page__info
      .my-page__info__add
        お届け先情報
    %ul.my-page__add__list
      %li.my-page__row
        .my-page__item
          苗字
        .my-page__prefecture
          西村
      %li.my-page__row
        .my-page__item
          名前
        .my-page__city
          マスター
      %li.my-page__row
        .my-page__item
          都道府県
        .my-page__prefecture
          大阪府
      %li.my-page__row
        .my-page__item
          市区町村
        .my-page__city
          大阪市 中央区
      %li.my-page__row
        .my-page__item
          番地
        .my-page__block-number
          難波五丁目 1-60
      %li.my-page__row
        .my-page__item
          マンション名・ビル名
        .my-page__bilding
          難波スカイオ15階
      %li.my-page__row
        .my-page__item
          電話番号
        .my-page__telephone
          050-3187-3522
    .my-page__info
      .my-page__info__add
        カード情報
    %ul.my-page__add__list
      %li.my-page__row
        .my-page__item
          支払い方法
        .my-page__prefecture
          カード払い
      %li.my-page__row
        .my-page__item
          登録カード変更
        .my-page__card-Button
          = link_to '#' do
            .Button
              変更する
    .my-page__logout-Button
      = link_to '#' do
        .Button
          ログアウト
