.UserInformation
  .UserInformation-header
    .UserInformation-header-top
      %img.Confirm__header__logo{:alt => "furima", :src => "/assets/logo-white.png"}/

    .UserInformation-header-bottom
      .UserInformation-top-word
        %h1会員情報入力
  
  %hr
  
  .UserInformation-contents
    .UserInformation-contents-top
      .UserInformation-contents-nickname  
        %label.title ニックネーム
        %span.subtitle 必須
        %form.UserInformation-contents-nickname-content
        %input{type: "text", placeholder: "例)フリマ次郎"}

    
      .UserInformation-contents-email
        %label.title メールアドレス
        %span.subtitle 必須
        %form.UserInformation-contents-nickname-content
        %input.{type: 'text', placeholder: "PC・携帯どちらでも可"}
        

      .UserInformation-contents-password
        %label.title パスワード
        %span.subtitle 必須
        %form.UserInformation-contents-nickname-content
        %input.{type: 'text', placeholder: "7文字以上の半角英数字"}
        %p パスワードを入力してください
        %p 英字と数字の両方を含めて設定してください

    .UserInformation-contents-bottom
      .UserInformation-contents-name
      %p 本人確認
      %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
    
    
    .UserInformation-name
      .UserInformation-name-zenkaku
        %label.title お名前(全角)
        %span.subtitle 必須
        .UserInformation-name-zenkaku-lastname
          %form.UserInformation-name-zenkak_content
          %input{type: "text",placeholder: "例)山田",class: "lastname-front-input"}
        .UserInformation-name-zenkaku-firstname
          %form.UserInformation-name-kana_content
          %input{type: "text",placeholder: "例)花子",class: "lastname-second-input"}
        .UserInformation-name-kana-caution
          性を入力してください

      .UserInformation-name-kana  
          %label.title お名前ｶﾅ(全角)
          %span.subtitle 必須
        .UserInformation-name-kana-lastname
          %form.UserInformation-name-kana_content
          %input{type: "text",placeholder: "例)ヤマダ",class: "lastname-front-input"}
        .UserInformation-name-kana-firstname
          %form.UserInformation-name-kana_content
          %input{type: "text",placeholder: "例)ハナコ",class: "lastname-second-input"}
        .UserInformation-name-kana-caution
          性カナを入力してください

      .UserInformation-birthday
          %label.title 生年月日
          %span.subtitle 必須
        .UserInformation-birthday-input
          %select{name: "barth",class: "barthday-input"}
          %option{value: "0"} 2020
          %option{value: "1"} 2019
          %option{value: "3"} 2018
          %option{value: "4"} 2017
          %option{value: "5"} 2016
          %option{value: "6"} 2015
          %option{value: "7"} 2014
          %option{value: "8"} 2013
          %option{value: "9"} 2012
          %option{value: "10"} 2011
          %option{value: "11"} 2010
          %option{value: "12"} 
          %option{value: "13"} 
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担） %select{name: "barden",class: "Listing-input"}
          %option{value: "0"} 選択してください
          %option{value: "1"} 送料込み（出品者負担）
          %option{value: "2"} 着払い（購入者負担）
          

  .UserInformation-footer 
