= render partial: "layouts/header_sub"
.my-page__logout__main
  .my-page__logout__main__message
    ログアウトしました
  .my-page__logout__main__link
    = link_to '/' do
      .my-page_Bottom
        トップページへ
= render partial: "layouts/footer_sub"