.CardForm__title
  = title

.CardForm
  カード番号
  .CardForm__outer{id: "number-form"}
  有効期限
  .CardForm__outer{id: "expiry-form"}
  セキュリティコード
  .CardForm__outer{id: "cvc-form"}
  #message
  = form_with model: @card, id: "card_form", local: true do |form|
    #card_token
    = form.submit "カードを登録", class:"CardForm__button", id: "create_card"
