.CardForm
  カード番号
  .CardForm__outer{id: "number-form"}
  有効期限
  .CardForm__outer{id: "expiry-form"}
  セキュリティコード
  .CardForm__outer{id: "cvc-form"}
  %button{class: "CardForm__button",id: "create_token"}
    トークン作成
  %span#token
    トークン：
