.CardForm
  .CardForm__title
    = title
  カード番号
  .CardForm__outer{id: "number-form"}
  有効期限
  .CardForm__outer{id: "expiry-form"}
  セキュリティコード
  .CardForm__outer{id: "cvc-form"}
  #message
  = form_with model: model, url: path, id: "card_form" do |form|
    #card_token
    = form.submit "#{btn}", class:"CardForm__button", id: "create_card"
