.my-page_main{
  //height: 250vh;
  background-color: whitesmoke;
  .my-page__contents{
    background-color: #ffffff;
    //height: 230vh;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    .my-page__user{
      background-image: url(https://d1f5hsy4d47upe.cloudfront.net/c7/c789a77887d7e873aaa74b6b0ad28006_t.jpeg);
      text-align: center;
      background-size: cover;
      &__img{
        border-radius: 5px;
        margin-top: 30px;
        height: 80px;
        width: 80px;
        background-color: whitesmoke;
      }
    }
    .my-page__info{
      font-size: 24px;
      margin: 15px 0px;
      font-weight: bold;
      text-align: center;
      &__add{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        border-bottom: 3px solid #3ccace;
      }
    }
    .my-page__logout-Button{
      font-size: 18px;
      background-color: #3ccace;
      width: 300px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
      a{
        text-decoration: none;
        color: white;
      }
    }
    .my-page__add__list{
      display: block;
      .my-page__row{
        display: flex;
        padding-bottom: 20px;
        padding-left: 20px;
        font-size: 18px;
        .my-page__item{
          width: 250px;
        }
        .my-page__card-Button{
          font-size: 18px;
          background-color: #3ccace;
          padding: 0px 16px;
          a{
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}