*{
  box-sizing: border-box;
}

.user-input{
  padding: 15px;
  width: 400px;
  
}





.UserInformation{

  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  


  &__Main{
    background-color: white;
    width: 600px;
    margin-top: 60px;
    padding: 50px 100px;

    


        &__email{
          margin-top: 30px;
        }

        &__password{
          margin-top: 30px;

          
        }

        &__check{
          margin-top: 30px;
          &__title{
            font-size: 16px;
            font-weight: bold;
          }
        }
      




      &__name{


        &__zenkaku{
          margin-top: 30px;
          
          &__contents{

            display: flex;

            &__lastname{
              margin-right: 20px;
            }
          }

        }

        &__kana{
          margin-top: 30px;

          &__contents{

            display: flex;

            &__lastname{
              margin-right: 20px;
            }
          }
        }
      
      }
      &__birthday{
        margin-top: 30px;
      }

      &__button{
        margin-top: 50px;
      }

      
  }
}
  



.user__title{
  font-size: 15px;
  font-weight: bold;
}

.user__subtitle{
  font-size: 12px;
  color: white;
  background-color: red;
  border-radius: 3px;
  padding: 2px;
}

.user-submit{
  padding: 15px;
  width: 400px;
  background-color: #3CCACE;
  border-radius: 3px;
  color: white;
  border: none;
}
