.Header {
  // background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  min-height: 82px;
  &__inner {
    display: flex;
    // background-color: lightyellow;
    padding-top: 15px;
    width: 100%;
    max-width: 1040px;
    &__logo {
      display: block;
      width: 140px;
      padding: 0 30px 10px 0;
    }
    &__searchbox {
      width: 100%;
      &__form {
        box-sizing: border-box;
        padding-left: 5px;
        height: 36px;
        width: calc(100% - 50px);
        vertical-align: bottom;
      }
      &__button {
        background-color: #3CCACE;
        box-sizing: border-box;
        cursor: pointer;
        border: 0;
        padding: 8px;
        height: 36px;
        width: 36px;
      }
      &__button-image {
        width: 100%;
      }
    }
  }
  &__nav {
    // background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    &__left {
      display: flex;
      &__list {
        margin-right: 46px;
      }
    }
    &__right {
      display: flex;
      &__list {
        margin-left: 16px;
      }
    }
  }
}

.App {
  background-color: #272727;
  background-image: url("/assets/material/pict/bg-appBanner-pict.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 40px;
  color: white;
  text-shadow: 0 0 0.2em gray;
  text-align: center;
  &__inner {
    &__title {
      font-weight: bold;
      font-size: 24px;
    }
    &__text {
      font-size: 35px;
    }
  &__badge {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto 0;
    width: 100%;
    &__apple {
      margin-right: 10px;
      width: 180px;
    }
    &__google {
      width: 180px;
    }
  }
  }
}

.Footer {
  background-color: #272727;
  padding: 60px 0;
}

.Listing-button {
  background-color: #3CCACE;
  position: fixed;
  right: 32px;
  bottom: 32px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4%;
  padding: 15px;
  width: 120px;
  &__text {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__image {
    width: 60%;
    vertical-align: bottom;
  }
}

.Listing-button:hover {
  opacity: 90%;
}